@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: var(--base-color);
}

.overlayBackground{
  filter: brightness(50%);
}



h1 {
  font-size: 32px;
  font-weight: 500;
}

h2 {
  font-size: 24px;
  font-weight: 500;
}

h3 {
  font-size: 18.72px;
  font-weight: 500;
}

h4 {
  font-size: 16px;
  font-weight: 500;
}

h5 {
  font-size: 13.28px;
  font-weight: 500;
}

h6 {
  font-size: 10.72px;
  font-weight: 500;
}

.slick-dots{
  bottom: 1rem;
  
}
.slick-dots li button::before {
  font-size: small;
}
.slick-dots li.slick-active button::before {
  color: red;

}


